<body class="body-login">
    <div class="form-login contenedor">
        <div class="contenido-login">
            <div class="titulo">
            <h2>Login</h2>
            <p>Ingrese los datos de su cuenta</p>
            </div>
            <div class="formulario">
            <form [formGroup] = "loginForm" (ngSubmit)="onLogin(loginForm.value)">
                <input class="input" type="email" name="" id="UserName" placeholder="correo electronico" formControlName="UserName">
                <input class="input" type="password" name="" id="Password" placeholder="contraseña" formControlName="Password">
                <input class="btn btn-submit" type="submit" value="Log In">
            </form>
            <div class="alert alert-danger" *ngIf="errorStatus">
                <p>{{errorMsj}}</p>
             </div>
            <a href="" class="enlace-contraseña">¿olvido su contraseña?</a>            
            </div>
        </div>
    </div>
</body>
