<body class="body-login">
    <div class="form-login contenedor">
        <div class="contenido-login">
            <div class="titulo">
            <h2>Login</h2>
            <p>Ingrese los datos de su cuenta</p>
            </div>
            <div class="formulario">
            <form action="" method="post">
                <input class="input" type="email" name="" id="" placeholder="correo electronico">
                <input class="input" type="password" name="" id="" placeholder="contraseña">
            </form>
            <a href="" class="enlace-contraseña">¿olvido su contraseña?</a>
            <input class="btn btn-submit" type="submit" value="Ingresar">
            </div>
        </div>
    </div>
</body>
