<header class="header">
    <div class="logotipo">
        <img src="../../Resource/Images/logotipo.png" alt="">
    </div>
    <nav class="navbar">
        <a routerLink="/Dasgboard" routerLinkActive="active">Inicio</a>
        <a routerLink="/Products" routerLinkActive="active">Productos</a>
        <a routerLink="/Nosotros" routerLinkActive="active">Nosotros</a>
    </nav>
    <div class="userbar">
        <i class="fas fa-search"></i>
        <div class="dropdown-container">
            <i class="far fa-user"></i>
            <ul class="dropdown-items">
                <li><a href="login.php">Ingresar</a></li>
                <li><a href="register.php">Registrarse</a></li>
            </ul>
        </div>
        
    </div>
</header>
