<body class="body-productos">
    <div class="zona-productos">
        <main class="main-productos">
            <div class="contenedor-productos">
                <div class="producto">
                    <div class="img-producto">
                        <img src="../Recursos/img/test-productos.png" alt="">
                    </div>
                    <div class="contenido-producto">
                        <h3 class="nombre-producto">ROG Strix SCAR III G531</h3>
                        <p class="descripcion-producto">Windows 10 procesadores Intel® Core™ Pantalla de hasta 240Hz refrigeración Inteligente, tecnología RangeBoost</p>
                        <p class="precio-producto"><span>$</span>5.543.000</p>
                    </div>
                </div>
                <div class="producto">
                    <div class="img-producto">
                        <img src="../Recursos/img/test-productos.png" alt="">
                    </div>
                    <div class="contenido-producto">
                        <h3 class="nombre-producto">ROG Strix SCAR III G531</h3>
                        <p class="descripcion-producto">Windows 10 procesadores Intel® Core™ Pantalla de hasta 240Hz refrigeración Inteligente, tecnología RangeBoost</p>
                        <p class="precio-producto"><span>$</span>5.543.000</p>
                    </div>
                </div>
                <div class="producto">
                    <div class="img-producto">
                        <img src="../Recursos/img/test-productos.png" alt="">
                    </div>
                    <div class="contenido-producto">
                        <h3 class="nombre-producto">ROG Strix SCAR III G531</h3>
                        <p class="descripcion-producto">Windows 10 procesadores Intel® Core™ Pantalla de hasta 240Hz refrigeración Inteligente, tecnología RangeBoost</p>
                        <p class="precio-producto"><span>$</span>5.543.000</p>
                    </div>
                </div>
                <div class="producto">
                    <div class="img-producto">
                        <img src="../Recursos/img/test-productos.png" alt="">
                    </div>
                    <div class="contenido-producto">
                        <h3 class="nombre-producto">ROG Strix SCAR III G531</h3>
                        <p class="descripcion-producto">Windows 10 procesadores Intel® Core™ Pantalla de hasta 240Hz refrigeración Inteligente, tecnología RangeBoost</p>
                        <p class="precio-producto"><span>$</span>5.543.000</p>
                    </div>
                </div>
                <div class="producto">
                    <div class="img-producto">
                        <img src="../Recursos/img/test-productos.png" alt="">
                    </div>
                    <div class="contenido-producto">
                        <h3 class="nombre-producto">ROG Strix SCAR III G531</h3>
                        <p class="descripcion-producto">Windows 10 procesadores Intel® Core™ Pantalla de hasta 240Hz refrigeración Inteligente, tecnología RangeBoost</p>
                        <p class="precio-producto"><span>$</span>5.543.000</p>
                    </div>
                </div>
                <div class="producto">
                    <div class="img-producto">
                        <img src="../Recursos/img/test-productos.png" alt="">
                    </div>
                    <div class="contenido-producto">
                        <h3 class="nombre-producto">ROG Strix SCAR III G531</h3>
                        <p class="descripcion-producto">Windows 10 procesadores Intel® Core™ Pantalla de hasta 240Hz refrigeración Inteligente, tecnología RangeBoost</p>
                        <p class="precio-producto"><span>$</span>5.543.000</p>
                    </div>
                </div>
                <div class="producto">
                    <div class="img-producto">
                        <img src="../Recursos/img/test-productos.png" alt="">
                    </div>
                    <div class="contenido-producto">
                        <h3 class="nombre-producto">ROG Strix SCAR III G531</h3>
                        <p class="descripcion-producto">Windows 10 procesadores Intel® Core™ Pantalla de hasta 240Hz refrigeración Inteligente, tecnología RangeBoost</p>
                        <p class="precio-producto"><span>$</span>5.543.000</p>
                    </div>
                </div>
                <div class="producto">
                    <div class="img-producto">
                        <img src="../Recursos/img/test-productos.png" alt="">
                    </div>
                    <div class="contenido-producto">
                        <h3 class="nombre-producto">ROG Strix SCAR III G531</h3>
                        <p class="descripcion-producto">Windows 10 procesadores Intel® Core™ Pantalla de hasta 240Hz refrigeración Inteligente, tecnología RangeBoost</p>
                        <p class="precio-producto"><span>$</span>5.543.000</p>
                    </div>
                </div>
                <div class="producto">
                    <div class="img-producto">
                        <img src="../Recursos/img/test-productos.png" alt="">
                    </div>
                    <div class="contenido-producto">
                        <h3 class="nombre-producto">ROG Strix SCAR III G531</h3>
                        <p class="descripcion-producto">Windows 10 procesadores Intel® Core™ Pantalla de hasta 240Hz refrigeración Inteligente, tecnología RangeBoost</p>
                        <p class="precio-producto"><span>$</span>5.543.000</p>
                    </div>
                </div>
            </div>
        </main>
        <aside class="aside-seleccion">
            <h3>Filtrar por</h3>
            <div class="filtro filto-marca">
                <h4>Marca</h4>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">Nvidia</label>
                </div>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">AMD</label>
                </div>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">ASUS</label>
                </div>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">Lenovo</label>
                </div>
            </div>
            <div class="filtro filto-precio">
                <h4>Precio</h4>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">$2.000.000 - $2.500.000</label>
                </div>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">$2.500.000 - $3.500.000</label>
                </div>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">$4.000.000 - $4.500.000</label>
                </div>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">$5.000.000 - $7.500.000</label>
                </div>
            </div>
            <div class="filtro filto-uso">
                <h4>Uso</h4>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">Hogar</label>
                </div>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">Gaming</label>
                </div>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">Arquitectura</label>
                </div>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">Diseño Grafico</label>
                </div>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">Edicion De video</label>
                </div>
                <div class="contenido-filtro">
                    <input type="checkbox" name="nvidia" id="" value="">
                    <label for="">Streaming</label>
                </div>
            </div>
        </aside>
    </div>
</body>
