<body class="body-register ">
    <div class="form-login contenedor">
        <div class="contenido-login">
            <div class="titulo">
            <h2>Registrate</h2>
            <p>Ingrese los datos para crear su cuenta</p>
            </div>
            <div class="formulario">
            <form action="" method="post">
                <input class="input" type="email" name="" id="" placeholder="correo electronico">
                <input class="input" type="text" name="" id="" placeholder="Nombre">
                <input class="input" type="text" name="" id="" placeholder="Apellido">
                <input class="input" type="number" name="" id="" placeholder="Telefono">
                <input class="input" type="password" name="" id="" placeholder="contraseña">
                
            </form>
            <a href="" class="enlace-contraseña">¿Ya tienes una cuenta en GearTech?</a>
            <input class="btn btn-submit" type="submit" value="Registrar">
            </div>
        </div>
    </div>
</body>