<body>   
    <main class="nosotros">
        <div class="contenido-nosotros contenedor">
            <div class="imagen-nosotros">
                <img src="../../Resource/Images/nosotros.jpg" alt="">
            </div>
            <div class="sobre-nosotros">
                <h3>Estamos para brindarte calidad</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam voluptas, esse inventore perspiciatis praesentium iure,
                    voluptatum dolorem error magnam libero omnis repudiandae molestiae possimus nulla mollitia aliquid tenetur rem dolore?
                    voluptatum dolorem error magnam libero omnis repudiandae molestiae possimus nulla mollitia aliquid tenetur rem dolore?
                </p>
            </div>
        </div>
    </main>
    <section class="mision">
        <div class="contenido-mision contenedor">
            <div class="sobre-mision">
                <h3>Es nuestra mision</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam voluptas, esse inventore perspiciatis praesentium iure,
                    voluptatum dolorem error magnam libero omnis repudiandae molestiae possimus nulla mollitia aliquid tenetur rem dolore?
                    voluptatum dolorem error magnam libero omnis repudiandae molestiae possimus nulla mollitia aliquid tenetur rem dolore?
                </p>
            </div>
                
            <div class="imagen-mision">
                <img src="../../Resource/Images/nosotros-mision.jpg" alt="">
            </div>
        </div>
    </section>
</body>
